{% extends 'base.html' %}

{% block header %}
    <h1>Guestbook</h1>
{% endblock %}

{% block content %}
{% include 'partial/simple_search.html' %}
{% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif%}
    {% for record in records %}
    <div class="wrapper">
        <h4>Author - {{ record.author }}</h2>
        <p>Email - {{ record.email }}</p>
        <p>Text - {{ record.text }}</p>
        <p><a href="{% url 'record_edit' record.pk %}">Edit record</a></p>
        {% comment %} <p><a href="{% url 'task_render' task.pk %}">View detail</a></p>
        
        <p><a href="{% url 'delete' task.pk %}">Delete task</a></p> {% endcomment %}
    </div>
    {% endfor %}
    
{% endblock%}

{% block link %}
    <a href="{% url 'record_add' %}">Add record</a>
{% endblock%}